.review-swiper-button-next {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../../assets/next.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  right: 20px;
  top: 25px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.review-swiper-button-prev {
  position: absolute;
  width: 23px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 23px;
  background-image: url(../../assets/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 20px;
  background-color: white;
  border-radius: 50%;
  top: 25px;
  z-index: 9999 !important;
  cursor: pointer;
}